<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Invoices" tabIcon="document"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tasks" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="cog"></ion-tab>
</ion-tabs>
