<!--
  Generated template for the InvoicesCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>InvoicesCreate</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">HTML aba Produtos</ion-label>
      <ion-input type="file" accept=".html, .htm" (change)="parseProducts($event)"></ion-input>
      <ion-spinner *ngIf="isParsingProducts" item-right></ion-spinner>
      <ion-icon name="checkmark-circle" *ngIf="!isParsingProducts && isParsingProductsDone" item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="primary">HTML aba Nfe</ion-label>
      <ion-input type="file" accept=".html, .htm" (change)="parseNfce($event)"></ion-input>
      <ion-spinner *ngIf="isParsingNfe" item-right></ion-spinner>
      <ion-icon name="checkmark-circle" *ngIf="!isParsingNfe && isParsingNfeDone" item-right></ion-icon>
    </ion-item>
    <!-- <ion-item>
      <ion-label color="primary">HTML aba Emitente</ion-label>
      <ion-input type="file" accept=".html, .htm" (change)="parseIssuer($event)"></ion-input>
    </ion-item> -->
  </ion-list>
</ion-content>
