<!--
  Generated template for the InvoicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Invoices</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addInvoice()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
